<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="EventLink"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoEventLink"
        tools:targetApi="31">
        <activity
            android:name=".Telas.EventQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.EventListActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.SettingsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.EventRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.SettingsLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Telas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="org.osmdroid.config"
            android:value="true" />
    </application>

</manifest>